.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    
    background-color: #EEE;
    border-top: 1px solid #CCC;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        cursor: pointer;
        appearance: none;
        border: none;
        outline: none;
        background: none;
    }
    button:hover {
        color: rgb(255, 15, 115);
      }
}