body {
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    font-family: 'Roboto', Helvetica, sans-serif;
}

#app {
    width: 100vw;
    min-height: 100vh;
}

@import './pages/login.scss';
@import './pages/register.scss';

@import './components/header.scss';
@import './components/footer.scss';