.feed {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;

    .verify-alert {
        height: 20px;
        background-color: rgba(255, 0, 0, 0.2);
        color: #171717;
        font-weight: 700;
        font-size: 15px;
        border-radius: 8px;
        text-align: center;
    }
    
    .post {
        background: #FFF;
        border-bottom: 1px solid #EEE;

        .post-user {
            display: flex;
            align-items: center;
            padding: 15px;

            font-weight: 700;
            font-size: 18px;
        }

        .post-picture {
            .post-image {
                width: 100%;
            }
        }

        .post-desc {
            padding: 0 15px 0;

            .like-btn {
                appearance: none;
                border: none;
                outline: 0;
                background: none;
                margin: 0;
                padding: 0;
                .icn-lg {
                    font-size: 32px;
                }
                .not-liked {
                    color: #ABABAB;
                }
                .liked {
                    color: rgb(255, 15, 115);
                }
            }
            p {
                color: #171717;
                font-size: 16px;
                margin-top: 15px;
            }
            .timestamp {
                color: #AAA;
                font-size: 12px;
                margin: 10px 5px;
            }
        }
    }
    .comments {
        padding: 0 15px 20px;
        .span-comment {
            color: #171717;
            font-size: 16px;
            margin-top: 15px;

        }
        .comment-input {
            display: block;
            width: 100%;
            padding: 0.5rem 1rem;
            text-indent: 5px;
            outline: none;
            border: 1px solid #CCC;
        }
        .comment-btn {
            height: 30px;
            background: rgb(255, 15, 115);
            appearance: none;
            border: none;
            outline: none;
            border-radius: 8px;
            color: #FFF;
            font-size: 12px;
            font-weight: 600;
        }
    }
}
