.post, .stream {
    width: 100%;
  }
  
.before-btns {
    display: flex;
    flex-direction: row;
    .capture-btn {
        cursor: pointer;
        padding-top: 10px;
        margin: 0 auto;
        background: none;
        appearance: none;
        border: none;
        outline: none;
    }
    .capture-btn:hover {
        color: rgb(255, 15, 115);
    }
    .input-file {
        padding-top: 20px;
    }
} 

.filter-btns {
    display: flex;
    max-width: 600px;
    flex-direction: row;
    padding: 15px;
    margin: 0 auto;
    .normal-filter-btn, .grayscale-filter-btn, .sepia-filter-btn {
        cursor: pointer;
        width: 100%;
        height: 20px;
        appearance: none;
        border: none;
        outline: none;
        border-radius: 8px;
        color: #FFF;
        font-size: 14px;
        font-weight: 700;
    }

    .selected {
        background: rgb(255, 15, 115);
    }
    .not-selected {
        background: #ABABAB;
    }
    .not-selected:hover {
        background: rgb(255, 15, 115);
    }
}

.after-btns {
    display: flex;
    padding-bottom: 15px;
    flex-direction: row;
    .cancel-btn, .post-btn {
        cursor: pointer;
        padding-top: 10px;
        margin: 0 auto;
        background: none;
        appearance: none;
        border: none;
        outline: none;
    }
    .cancel-btn:hover, .post-btn:hover {
        color: rgb(255, 15, 115);
    }
} 

.field-group {
    padding: 15px;
    box-sizing: border-box;

    label {
        color: #AAA;
        font-size: 14px;
    }

    .input-field {
        display: block;
        width: 100%;
        margin: 0 auto;
        height: 40px;
        text-indent: 15px;
        outline: none;
        border: 1px solid #CCC;
    }
}


video,
canvas {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
video.gray {
    filter: grayscale(1);
}
video.sepia {
    filter: sepia(1);
}

.hide { display: none; }
.show { display: block; }

.sticker-btns {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #DDD;
    background: #FFF;
    padding: 15px;
    span {
        color: #AAA;
        font-size: 14px;
        padding: 0 15px;
    }
    button{
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        border: 2px solid transparent;
        margin: 5px;
    }
    .material-icons {
        font-size: 40px;
    }
}

// .post {
//     max-width: 600px;
//     width: 100%;
//     .field-group {
//         padding: 15px;
//         box-sizing: border-box;

//         label {
//             color: #AAA;
//             font-size: 14px;
//         }

//         .input-field {
//             display: block;
//             width: 100%;
//             margin: 0 auto;
//             height: 40px;
//             text-indent: 15px;
//             outline: none;
//             border: 1px solid #CCC;
//         }
//     }

//     .post-btns {
//         position: absolute;
//         left: 50%;
//         bottom: 65px;
//         transform: translateX(-50%);

//         button {
//             appearance: none;
//             border: none;
//             outline: 0;
//             background: none;
//             margin: 0;
//             padding: 0;
//             margin-right: 50px;

//             &:last-of-type {
//                 margin-right: 0;
//             }
//         }
//     }
// }

// .icn-lg {
//     font-size: 40px;
// }

// .show {
// display: block;
// }

// .hide {
// display: none;
// }

// .image {
// width: 100%;
// height: auto;
// }
