.post, .stream {
    width: 100%;
  }

.before-btns {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    .capture-btn {
        cursor: pointer;
        padding-top: 10px;
        margin: 0 auto;
        background: none;
        appearance: none;
        border: none;
        outline: none;
    }
    .capture-btn:hover {
        color: rgb(255, 15, 115);
    }
    .input-file {
        padding-top: 20px;
        margin: 0 auto;
    }
}

.filter-btns {
    display: flex;
    max-width: 600px;
    flex-direction: row;
    padding: 15px;
    margin: 0 auto;
    .normal-filter-btn, .grayscale-filter-btn, .sepia-filter-btn {
        cursor: pointer;
        width: 100%;
        height: 20px;
        appearance: none;
        border: none;
        outline: none;
        border-radius: 8px;
        color: #FFF;
        font-size: 14px;
        font-weight: 700;
    }

    .selected {
        background: rgb(255, 15, 115);
    }
    .not-selected {
        background: #ABABAB;
    }
    .not-selected:hover {
        background: rgb(255, 15, 115);
    }
}

.after-btns {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 15px;
    flex-direction: row;
    .cancel-btn, .post-btn {
        cursor: pointer;
        padding-top: 10px;
        margin: 0 auto;
        background: none;
        appearance: none;
        border: none;
        outline: none;
    }
    .cancel-btn:hover, .post-btn:hover {
        color: rgb(255, 15, 115);
    }
}

.field-group {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;

    label {
        color: #AAA;
        font-size: 14px;
    }

    .input-field {
        display: block;
        width: 100%;
        margin: 0 auto;
        height: 40px;
        text-indent: 15px;
        outline: none;
        border: 1px solid #CCC;
    }
}


video,
canvas {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
video.gray {
    filter: grayscale(1);
}
video.sepia {
    filter: sepia(1);
}

.hide { display: none; }
.show { display: block; }

.sticker-btns {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #DDD;
    background: #FFF;
    padding: 15px;
    span {
        color: #AAA;
        font-size: 14px;
        padding: 0 15px;
    }
    button{
        width: 50px;
        height: 50px;
        padding: 0;
        background: white;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        border: 2px solid white;
        margin: 5px;
    }
    button:hover {
        border-color: rgb(255, 15, 115);
    }
    .material-icons {
        font-size: 40px;
    }
}

.position-btns {
    max-width: 600px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid #DDD;
    background: #EEE;
    padding: 20px;

    .row1, .row2, .row3 {
        display: flex;
        flex-direction: row;
    }
    button {
        font-size: 14px;
        width: 100px;
        height: 50px;
        border: 1px solid #CCC;
        margin: 0 auto;
    }
    button:hover {
        color: #FFF;
        background: rgb(255, 15, 115);
    }
}


.previous-pics {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 5px;
    padding: 5px;

    p {
        font-size: 14px;
    }
    .post {
        padding: 0;

        .post-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}

.previous-p {
    color: #888;
    font-size: 14px;
  }